<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="dashboard" class="navbar-brand mx-auto">Bashboard Jairo S.A</a>
        <% if (login) {%>
            <h4 class="text-white"><%= name %> &nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <a href="/restrictedNo" class="btn btn-secondary"> Usuarios no restringuidos</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout" class="btn btn-secondary"> Cerrar sesion</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <%}%>
    </nav>
    
    <div class="row">
        <div class="col-md-6 mt-4 text-center">
            <h3 class="card-title">Listado general de todos los usuarios registrados</h3>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Correo electronico</th>
                    <th>Usuario o nickname</th>
                    <th>Fecha de creacion</th>
                    <th>Borrar</th>
                    <th>Editar</th>
                </tr>
                <% for (let i = 0; i < usuarios.length; i++) { %>
                    <tr>
                        <% if (usuarios[i].rol !== "admin") { %>
                            <th><%= usuarios[i].id %></th>
                            <th><%= usuarios[i].nameComplete %></th>
                            <th><%= usuarios[i].email %></th>
                            <th><%= usuarios[i].user %></th>
                            <th><%= usuarios[i].date_create %></th>
                            <th><a href="/delete/<%= usuarios[i].id %>">Borrar usuario</a></th>
                            <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= usuarios[i].id %>" data-bs-whatever="@fat">Editar informacion de usuario</button></th>
                        <% } %>
                    </tr>

                    <div class="modal fade" id="exampleModal<%= usuarios[i].id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Editar Datos</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post" action="/edit/<%=usuarios[i].id%>">
                                <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Nombre complet</label>
                                  <input type="text" class="form-control" id="recipient-name" name="nameComplete" value="<%= usuarios[i].nameComplete %>">
                                </div>
                                <div class="mb-3">
                                  <label for="message-text" class="col-form-label">Correo electronico</label>
                                  <input class="form-control" id="message-text" type="text" name="email" value="<%= usuarios[i].email %>" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary">
                                  </div>
                              </form> 
                            </div> 
                          </div>
                        </div>
                    </div>
                <% } %>
            </table>
        </div>
    </div>

    <div class="col-md-5 mt-4 card center">
        <div class="register-form">
            <form action="register" method="POST" class="card-body">
                <h3 class="card-title">Crear nuevos usuarios</h3>
                <br><br>
                <div class="form-group">
                    <label for="nom">Nombre Completo</label>
                    <input type="text" name="nameComplete" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                    <label for="user">Correo electronico</label>
                    <input type="text" name="email" class="form-control" placeholder="correo electronico" required>
                </div>
                <div class="form-group">
                    <label for="user">Usuario o nickname</label>
                    <input type="text" name="user" class="form-control" placeholder="usuario o nickname" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type= "password" name="password" class="form-control" id="password" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                    <br>
                    <label for="restricted">Quieres restringir al usuario</label>
                    <input type="radio" name="restricted" value="1" required/> Si
                    <input type="radio" name="restricted" value="0" required/> No
                </div>
                <div style="display:inline;">
                    <br>
                  <a href="/" class="btn btn-secondary"> Cancelar</a><input type="submit" class="btn btn-primary" value="Guardar">
                </div>
            </form>
            
        </div>
    </div>
    
</body>
</html>